html, body{
	height: 100%;
	/*background: #f2f1ef;*/
  background: #f1f4f9;
	color: #384243;
	font-family: 'Open Sans', sans-serif; font-weight: 400;
}

textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus,
input[type="datetime"]:focus,
input[type="datetime-local"]:focus,
input[type="date"]:focus,
input[type="month"]:focus,
input[type="time"]:focus,
input[type="week"]:focus,
input[type="number"]:focus,
input[type="email"]:focus,
input[type="url"]:focus,
input[type="search"]:focus,
input[type="tel"]:focus,
input[type="color"]:focus,
select.form-control:focus,
.uneditable-input:focus {
  box-shadow: none;
}
.form-control{
	border: 1px #ddd solid;
    border-radius: 0;
    box-shadow: none;
	border-color: rgba(0, 0, 0, 0.2);
    border-radius: 3px;
}
.btn.btn-export{ margin: 19px 0; }

#sidebar{
	position: fixed; top: 0; left: 0; width: 250px; height: 100%;
	color: #adc3b3; background: #253449; /*background: #1f7336;*/
}
/* Sidenav dropdown */
.sidenav a, .dropdown-btn {
    font-size: 14px;
    border: none;
    background: none;
    width:100%;
    text-align: left;
    cursor: pointer;
    outline: none;
    display: block;
    text-decoration: none;
    color: white;
    font-weight: 400;
    padding: 7px 15px;
    font-family: 'Open Sans', sans-serif;
}
/* On mouse-over */
.sidenav a:hover, .dropdown-btn:hover {
    background: rgba(0, 0, 0, 0.1);
    color: white;
    text-decoration: none !important;
}
/* Add an active class to the active dropdown button */
.active {
    background: rgba(0, 0, 0, 0.1);
    color: white;
}
/* Dropdown container (hidden by default). Optional: add a lighter background color and some left padding to change the design of the dropdown content */
.dropdown-container {
    display: none;
    background-color: rgba(0, 0, 0, 0.1);
    padding-left: 8px;
}
/*End sidenav dropdown*/

/*Sidenav header*/
.sidenav .menu-title {
    margin-bottom: auto;
    border-bottom: 1px solid grey;
    color: #9496a1;
    clear: both;
    display: block;
    line-height: 50px;
    padding: 15px 0 0 0;
    text-transform: uppercase;
    width: 100%;
    Cursor:text !important;
    Text-Decoration: None !important;
}
.sidenav div:hover {
    Cursor:default !important;
    Text-Decoration: None !important;
}
.sidenav .menu-title-text {
    font-size: 16px;
    font-weight: 700;
    font-family: "Open Sans";
    margin-left: 2%;
    text-transform: uppercase;
}

/*End sidenav header*/

#main-content{
	margin-left: 250px;
}

.sidebar-logo{
	/*height: 50px; */background: rgba(0, 0, 0, 0.2); color: #fff; padding: 15px 0;
	margin-bottom: 10px;
}
.sidebar-logo .portal-name{ margin-top: 10px; color: #bdc3c7;  }
.sidebar-logo a.navbar-brand{ color: inherit; font-weight: 800; font-size: 25px; }



.navbar-helb-logo a{ color: inherit; }
.navbar-helb a.dropdown-toggle{ color: inherit; }
.navbar-helb a.dropdown-toggle:hover{ background: transparent; }

.top-header{
	/*height: 100px;*/ background: #1f7336;
	color: #fff; padding: 10px 0;
}
.logo-wrapper{ max-width: 400px; /*border: 1px #fff solid;*/ }
.logo-wrapper img{ display: block; width: 100%; }

.user-nav li a.dropdown-toggle, .user-nav li a.dropdown-toggle:hover{ background-color: inherit; color: inherit; }
.white-links li a, .white-links li a:hover{ background-color: inherit; color: inherit;  }


/*.page-content{ padding: 15px; }*/
/*.card{ background: #fff; clear: both; position: relative; margin-bottom: 25px; }*/
/*.card-header{ padding: 15px 25px; }*/
/*.card-header h4{ margin: 0; padding: 0; }*/
/*.card-body{ padding: 15px 25px; clear: both; }*/

.card-body.widget{ color: rgba(0, 0, 0, 0.5); }
.card-body.widget h3{ font-weight: 800; margin: 5px 0; padding: 0; }
.card-body.widget h4{ font-weight: 700; margin: 0; padding: 0; font-size: 14px; margin-bottom: 15px; }
.card-body.widget .widget-label{ display: block; font-weight: 700; font-size: 18px; margin-bottom: 0px; }

label.error{ font-size: 12px; color: #f00; }
form.validated .form-group{ position: relative; margin-bottom: 20px; }
form.validated label.error{ font-size: 13px; font-weight: 300; color: #D91E18; position: absolute; bottom: -25px; }
form.validated .form-control.error{ border-color: #D91E18;}


/*REGISTRATION PAGE*/
.helb-logo-wrapper{ max-width: 100px; margin: 0 auto; margin-bottom: 10px; }
.tbl{ display: table; width: 100%; height: 100%; }
.tbl-cell{ display: table-cell; vertical-align: middle; }
.register-form-wrapper{
	padding: 25px; background: #fff; width: 90%; max-width: 480px; margin: 0 auto;
	border: 1px #ddd solid; border-radius: 3px;
}
.btn-primary, .btn-primary:hover{ background-color: rgba(31, 115, 54, 1); border: none; }
.btn-primary:hover{ background-color: rgba(31, 115, 54, 0.9); }

.tab-content{ background: #fff; padding: 15px; border: 1px #ddd solid; border-top: none; }





/*$green: #008744;
$blue: #0057e7;
$red: #d62d20;
$yellow: #ffa700;
$white: #eee;


$width: 100px;*/

.no-shadow{ box-shadow: none !important; }
#applicationMessage{ padding: 25px; }

.showbox {
  /*position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 5%;*/
}

form.statements-search{
  margin: 15px 0;
}
.statements-search-input>input{
  padding: 20px 10px;
}

.statements-search-input>button{
  padding: 20px 10px;
}

.input-group-btn:last-child > .btn, .input-group-btn:last-child > .btn-group {
    z-index: 2;
    margin-left: -1px; padding: 10px 10px;
}

.preloader{
  position: absolute; height: 100%; width: 100%;
  left: 0; background: rgba(0, 0, 0, 0.2);
}



/*preloader*/
.lds-ring {
  display: inline-block;
  position: absolute;
  /*width: 64px;*/ width: 100%; height: 100%;
  /*height: 64px;*/
  background: rgba(255, 255, 255, 0.9);
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute; top: 45%; left: 45%;
  width: 51px;
  height: 51px;
  margin: auto;
  border: 3px solid #f00;
  border-radius: 50%;
  animation: lds-ring 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: #666 transparent transparent transparent;
}
.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}
@keyframes lds-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* end preloader */

/* Nav bar color */
.bg-dark {
    background-color: #253449 !important;
}
 /* End Navbar color */

/*Fieldset Legend*/
fieldset.scheduler-border {
    border: 1px groove #ddd !important;
    padding: 0 1.4em 1.4em 1.4em !important;
    margin: 0 0 1.5em 0 !important;
    -webkit-box-shadow:  0px 0px 0px 0px #000;
    box-shadow:  0px 0px 0px 0px #000;
}

legend.scheduler-border {
    font-size: 1.2em !important;
    font-weight: bold !important;
    text-align: center !important;
    width:auto;
    padding:0 10px;
    border-bottom:none;
}
/*End fieldset*/
/*Hide number spinner */
input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}
/*end number spinnerhide*/